<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小苗博客</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/amz/assets/i/logo.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/amz/assets/i/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/amz/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="/amz/assets/css/amazeui.min.css">
    <!--<link rel="stylesheet" href="path/amazeui.min.css">-->
    <!--<link rel="stylesheet" href="/amz/assets/css/am-md.css">-->
    <link rel="stylesheet" href="/amz/assets/css/app.css">
</head>
<body id="blog">
<!--导航开始-->
<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button"
            data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="am-active"><a href="{{u('home.entry.index')}}">首页</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    首页布局 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="/amz/lw-index.html">1. blog-index-standard</a></li>
                    <li><a href="/amz/lw-index-nosidebar.html">2. blog-index-nosidebar</a></li>
                    <li><a href="/amz/lw-index-center.html">3. blog-index-layout</a></li>
                    <li><a href="/amz/lw-index-noslider.html">4. blog-index-noslider</a></li>
                </ul>
            </li>
            <li><a href="{{u('home.entry.article')}}">标准文章</a></li>
            <li><a href="{{u('home.entry.pic')}}">图片库</a></li>
            <li><a href="lw-article-fullwidth.html">全宽页面</a></li>
            <li><a href="{{u('home.entry.arclist')}}">存档</a></li>
        </ul>
        <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
        </form>
    </div>
</nav>
<hr>
<blade name="pic"/>

<div class="am-g am-g-fixed blog-fixed">
    <blade name="arclist"/>
    <div class="am-u-md-8 am-u-sm-12">
        <blade name="content"/>
        <blade name="article"/>

        <!--<ul class="am-pagination">-->
        <!--<li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>-->
        <!--<li class="am-pagination-next"><a href="">Next &raquo;</a></li>-->
        <!--</ul>-->
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="/amz/assets/i/touxiang.jpg" alt="about me" class="blog-entry-img">
            <p>小苗</p>
            <p>
                我是小苗，欢迎来到我的博客
            </p>
            <p>十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <!--<a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>-->
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
                <a href="" class="blog-tag">amaze</a>
                <a href="" class="blog-tag">小苗</a>
                <a href="" class="blog-tag">互联网</a>
                <a href="" class="blog-tag">科技</a>
                <a href="" class="blog-tag">人生</a>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>语录</span></h2>
            <ul class="am-list">
                <li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                <li><a href="#">我把最深沉的秘密放在那里。</a></li>
                <li><a href="#">你不懂我，我不怪你。</a></li>
                <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
            </ul>
        </div>
    </div>
    <!--markdown开始-->
    <!--<textarea data-am-md data-savable="true" data-width="800" data-height="300" -->
    <!--data-hideable="false"></textarea>-->
    <!--markdown结束-->
</div>
<!-- content end -->
<!--内容结束-->
<footer class="blog-footer">
    <div class="blog-text-center">
        © 2017 Licensed under MIT license. Made with love By XIAOMIAO.
    </div>
</footer>


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/amz/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/amz/assets/js/amazeui.min.js"></script>
<script src="/amz/assets/js/md.js"></script>
<script src="/amz/assets/js/tomd.js"></script>
<script src="/amz/assets/js/am-md.js"></script>
</body>
</html>